.detail_post_body_container {
    max-width: 800px;
    width: 100%;
    padding-bottom: 20px; /* Add padding to the bottom of the container */
}

.detail_post_body {
    padding: 24px 20px;
    background-color: white; /* White card background */
    border-radius: 12px;
    margin: 20px 0; /* Space between posts */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Card shadow */
    transition: box-shadow 0.3s ease;
}

.post_user_info img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    margin-right: 16px; /* Margin on the right to separate the image and text */
}

.post_buttons {
    width: 100%;
    display: flex;
    justify-content: end;
}

.post_buttons button:focus {
    outline: none;
}

.button_blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    background-color: #23A6E8;
}

.button_red {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    background-color: #FE4277;
    margin-left: 10px;
}

.post_user_info h3 {
    font-size: 1.2rem; /* Responsive font size */
}

.detail_post_container {
    max-width: 800px;
    width: 100%;
}


.detail_post_info {
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    width: 100%; /* Make it responsive */
}

.detail_post_image img {
    object-fit: contain;
    width: 100%;
    max-height: 500px;
    margin-bottom: 16px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for images */
    transition: transform 0.3s ease;
}

.detail_post_info img:hover {
    transform: scale(1.07); /* Zoom-in effect on hover */
    cursor: pointer;
    box-shadow: none; /* Subtle shadow for images */
}

.detail_post_info img:active {
    transform: scale(1.5);
}

.post_writings {
    display: flex;
    flex-direction: column;
    width: 100%; /* Make it responsive */
    max-width: 740px; /* Max width for larger screens */
    box-sizing: border-box; /* Include padding in the width calculation */
    font-size: 1.2rem; /* Responsive font size */
}

.post_writings h3 {
    margin-top: 0;
    margin-bottom: 8px; /* Space between title and description */
}



@media (max-width: 600px) {

    .detail_post_body {
        width: 100vw;
        padding: 0;
    }

    .post_user_info {
        padding: 0 8px; /* Add padding */
    }

    .post_user_info img {
        width: 40px; /* Smaller image */
        height: 40px; /* Smaller image */
    }

    .buttons_body button {
        width: 60px;
        height: 30px;
        font-size: 0.7rem;
    }

    .post_user_info h3 {
        font-size: 0.9rem; /* Smaller font size */
    }

    .post_writings h3 {
        margin: 8px;
    }

    .post_writings p {
        font-size: 1rem; /* Further reduce title font size */
        margin: 8px;
    }
}
