/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

/* Body and Layout */
.body_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    background: linear-gradient(135deg, #f3f3f3, #f8f8f8); /* Subtle background */
}

/* Top Bar */
.top_bar {
    position: fixed;
    top: 0;
    height: 64px;
    background-color: #4E5D6C; /* Darker shade */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s;
}

.top_bar:hover {
    background-color: #3B4A5A; /* Hover effect */
    cursor: pointer;
}

/* Side Bars */
.left_bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #333; /* Dark side bar */
    width: 280px; /* Adjusted width */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 10;
}

.left_bar.visible {
    transform: translateX(0);
}

.left_bar_top, .left_bar_bottom {
    padding: 20px;
}

.left_bar_top h1 {
    margin: 0;
    margin-top: 60px;
    font-size: 1.8rem;
}

.left_bar_bottom h2 {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

.left_bar_bottom h2:hover {
    color: #9A00FF; /* Highlight color */
}

.middle_content {
    flex: 1;
    padding: 20px;
    margin-top: 64px; /* Ensure it starts below the top bar */
    width: 100%;
}

/* Toggle Buttons */
.toggle-button {
    position: fixed;
    top: 10px;
    background-color: #6E7AFF;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 11;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #9A00FF;
}

.toggle-button:focus {
    outline: none;
}

.left-toggle {
    left: 10px;
}
