.body_home {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Center content vertically */
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.top_bar {
    position: fixed;
    top: 0;
    height: 64px;
    background-color:darkslategray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
}

.top_bar:hover {
    text-shadow: 0 0 10px #fff;
    cursor: pointer;
}


.left_bar, .right_bar {
    position: fixed; /* Change to fixed to keep bars in place */
    top: 0;
    height: 100vh;
    background-color: gray;
    z-index: 1;
    transition: transform 0.3s ease;
}

.left_bar {
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    font-size: 1.2rem;
    transform: translateX(-100%);
}

.left_bar.visible {
    transform: translateX(0);
}

.left_bar_top, .left_bar_bottom {
    padding: 16px 48px;
}

.left_bar_top h1 {
    margin: 0;
    margin-top: 60px;
}

.right_bar {
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    transform: translateX(100%);
}

.right_bar.visible {
    transform: translateX(0);
}

.toggle-button {
    position: fixed; /* Change to fixed to keep buttons in place */
    top: 10px;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    width: 40px;
    height: 40px;
    outline: none;
}

.toggle-button:focus {
    outline: none;
}

.left-toggle {
    left: 10px;
}

.right-toggle {
    right: 10px;
}

