p {
    font-size: 24px;
    margin: 6px 0;
}

.body {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.centerbox {
    width: fit-content;
}

.logo {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

input {
    font-size: 24px;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid gray;
    transition: 0.5s;
}

input:focus {
    outline: none;
    border: 1px solid skyblue;
}